/* Main */

main {
    padding: 2rem 0;
}

.main-content h1 {
    color: var(--primary);
}

.projects {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    background-color: var(--primary);
    margin: 1rem;

    width: 32rem;
    height: 23rem;
    
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    position: relative;
    border-radius: .5rem;
    transition-property: background-color transform box-shadow;
    transition-duration: .3s;
}

.project:hover {
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primaryLight);
    transform: scale(1.01);
}

.project__name {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--white);
}

.project__description {
    color: var(--white);
    padding: 0 2rem;
    overflow: hidden;
    font-size: 1.6rem;
    margin-bottom: 8rem;
}

.projects__actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__actions a{
    color: var(--primary);
    background-color: var(--secondary);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 2rem;
    text-decoration: underline;
}

.projects__actions a:hover {
    transition: .3s;
    background-color: var(--secondaryLight);
}